.content{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: blue;
}
header{
    background-color: lightgrey;
}
nav{
    background-color: lightblue;
    display: inline-block;
    width: 80%;
}
main{
    background-color: lightgreen;
    font-size: 30px;
}
footer{
    background-color: lightpink;
    color: black;
}
/* li{
    display: inline-block;
    width: 105px;
} */
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}
p{
    line-height: 1.5;
}
.skip-link {
    position: absolute;
    left: -999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.skip-link:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    background: #000;
    color: #fff;
    z-index: 1000;
    display: inline-block;
}
nav img{
    width: 10%;
}
.grid{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
}
.grid img{
    width: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
